.quizform {
    padding: 20px;
}

.quizform__head {
    display: flex;
    justify-content: space-between;
}

.quizform__button {
    width: 100%;
    padding: 20px;
    padding-left: 0px;
}

.quizform__texts {
    width: 100%;
    display: inline-flex;
    justify-content: space-around;
    color: #333;
    font-size: 25px;
}

.quizform__texts h2 {
    font-weight: bold;
    color: #333;
    margin-bottom: 0;
    font-size: 15px;
}

.quizform__quiz {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 200px;
    max-height: auto;
    margin-top: 20px;
}

.quizform__input {
    height: auto;
    border-radius: 5px;
    font-size: 12px;
    padding: 10px;
    cursor: pointer;
    border: 1px solid #eee;
    width: 230px
}
