

.quizword {
    color: #333;
    border: 1px solid #eee;
    padding: 2px;
    width: 12rem;
    transition: all ease-in-out 2s;

}


@keyframes bg-success {
    from {
        background: linear-gradient(90deg, white, white, white, #0ea818);
        opacity: 0;
    }

    to {
        background: linear-gradient(90deg, white, white, white, #0ea818);
        opacity: 1;
    }
}

.quizword.quiz_ok {
    animation: bg-success 2s forwards;
}

.check_svg {
    color: #fff;
    width: 10px;
    display: block;
    float: right;
    height: 10px;
    margin-top: 5px;
    margin-right: 5px;
    fill: #fff;
}